:root {
    /* declare variables for colors and border sizing that are used repeatedly */
    /* color scheme sourced from http://khroma.co/generator/ */
    --dark: #1f3a72; /* Biscay */
    --light: #dbe3db; /* Tasman */
    --light-2: #b4c5cb; /* Loblolly */
    --radius: 10px;
}

* {
    /* Sans Serif font stack copied from UCSD Fullstack Bootcamp, Week 1, Day 5, Module 8 exercise, style.css */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, 
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--light-2);
}

h1 {
    color: var(--dark);
    font-size: 2.5em;
    line-height: 1.5;
}

h2 {
    font-size: 1.75em;
}

nav ul {
    list-style: none;
    display: flex;
}

footer {
    display: flex;
    flex-direction: row;
}

.header-format {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark);
    align-items: center;
    font-weight: bolder;
}

.header-title {
    background-color: var(--light);
    padding: 5px 20px 5px 40px;
    font-weight: bolder;
    border-radius: 0 var(--radius) var(--radius) 0;
}

.nav-bar {
    position: relative;
    float: right;
}

.nav-bar li {
    padding: 5px 15px;
}

.nav-bar a {
    text-decoration: none;
    font-size: 1.5em;
    color: var(--light);
}

.nav-bar a:hover {
    border-bottom: solid var(--light-2) 3px;
}

.banner {
    display: flex;
    justify-content: end;
    background-image: url("../images/banner-background.webp"); /* free-to-use image found on https://www.freepik.com/free-vector/modern-banner-with-abstract-low-poly-design_16078483.htm#query=portfolio%20background&position=4&from_view=keyword */
    width: 100%;
    background-size: cover;
    background-position: top;
    height: 500px;
}
.banner-title {
    position: relative;
    top: 400px;
    height: 50px;
    background-color: var(--dark);
    color: var(--light);
    line-height: 1.5;
    padding: 5px 20px;
    border-radius: var(--radius) 0 0 var(--radius);
    width: 450px;
}

.mywork {
    display: inline-block;
    background-color: var(--light);
    border: 3px solid var(--dark);
    border-radius: var(--radius);
    margin: 30px 1.25% 0px;
}

.mywork-title {
    position: relative;
    left: 1.25%;
    top: -50px;
    z-index: 1;
    width: fit-content;
    padding: 5px 10px;
    border: 3px solid var(--dark);
    border-radius: var(--radius);
    background-color: var(--light);
    color: var(--dark);
}

.mywork-figures {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.mywork-featured {
    position: relative;
    top: -55px;
    width: 100%;
}

.work-1-img,
.work-2-img,
.work-3-img {
    width: 100%;
}

.work-1-img {
    margin: auto;
    height: 600px;
    object-fit: none;
}

.mywork-regular {
    width: 30%;
}

.work-2 {
    left: 15%;
}

.mywork img:hover {
    filter: blur(5px);
}


.aboutme-text {
    margin: auto;
    position: relative;
    top: -50px;
    width: 90%;
    min-height: 100px;
    background-color: var(--light);
    border: 3px solid var(--dark);
    border-radius: var(--radius);
    padding: 25px 2% 10px;
    color: var(--dark);
}

.aboutme {
    display: inline-block;
    width: 50%;
}

.aboutme-title {
    position: relative;
    left: 5%;
    z-index: 1;
    width: fit-content;
    padding: 5px 10px;
    border: 3px solid var(--dark);
    border-radius: var(--radius);
    background-color: var(--light);
    color: var(--dark);
}

.aboutme-text {
    margin: auto;
    position: relative;
    top: -50px;
    width: 90%;
    min-height: 100px;
    background-color: var(--light);
    border: 3px solid var(--dark);
    border-radius: var(--radius);
    padding: 30px 2% 10px;
    color: var(--dark);
}

.contact {
    display: inline-block;
    width: 50%;
}

.contact-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    position: relative;
    top: 45px;
    width: 90%;
    min-height: 100px;
    border: 3px solid var(--dark);
    border-radius: var(--radius);
    padding: 10px 2% 30px;
    background-color: var(--light);
    list-style: none;
}

.contact-text li {
    width: 50%;
    text-align: right;
}

.contact-text a {
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bolder;
    color: var(--dark);
}

.contact-title {
    position: relative;
    float: right;
    right: 5%;
    z-index: 1;
    width: fit-content;
    padding: 5px 10px;
    border: 3px solid var(--dark);
    border-radius: var(--radius);
    background-color: var(--light);
    color: var(--dark);
}

.bold-title {
    font-weight: bolder;
}