:root {
    /* declare variables for colors and border sizing that are used repeatedly */
    /* color scheme sourced from http://khroma.co/generator/ */
    --dark: #1f3a72; /* Biscay */
    --light: #dbe3db; /* Tasman */
    --light-2: #b4c5cb; /* Loblolly */
    --radius: 10px;
}

* {
    /* Sans Serif font stack copied from UCSD Fullstack Bootcamp, Week 1, Day 5, Module 8 exercise, style.css */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, 
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
    display: flex;
    flex-direction: column;
}

nav ul {
    list-style: none;
    display: flex;
}

.header-format {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark);
    align-items: center;
    font-weight: bolder;
}

.header-title {
    background-color: var(--light-2);
    color: var(--dark);
    font-size: 2.5em;
    line-height: 1.5;
    padding: 5px 20px 5px 40px;
    font-weight: bolder;
    border-radius: 0 var(--radius) var(--radius) 0;
}

.nav-bar {
    position: relative;
    float: right;
    font-size: 1.5em;
}

.nav-bar li {
    padding: 5px 15px;
}

.nav-bar a {
    text-decoration: none;
    color: var(--light-2);
}

.nav-bar a:hover {
    border-bottom: solid var(--light-2) 3px;
}

.banner {
    display: flex;
    justify-content: end;
    background-image: url("../images/banner-background.jpeg"); /* free-to-use image found on https://unsplash.com/photos/_JBKdviweXI */
    width: 100%;
    background-size: cover;
    background-position: top;
    height: 500px;
}
.banner-title {
    position: relative;
    top: 400px;
    height: 50px;
    background-color: var(--dark);
    color: var(--light-2);
    font-size: 1.75em;
    line-height: 1.5;
    padding: 5px 20px;
    border-radius: var(--radius) 0 0 var(--radius);
    font-weight: bolder;
    width: 450px;
}